*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    padding: 0 30px;
    height: 70px;
}nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px   
}
nav img{
    width: 60px;
}